#ifndef _RYDB_CONFIG_H
#define _RYDB_CONFIG_H

#cmakedefine RYDB_DEBUG
#cmakedefine RYDB_HAVE_MREMAP 
#cmakedefine RYDB_BIG_ENDIAN
#cmakedefine RYDB_PATH_SEPARATOR "${RYDB_PATH_SEPARATOR}"
#define RYDB_PATH_SEPARATOR_CHAR '${RYDB_PATH_SEPARATOR}'

#endif //_RYDB_CONFIG_H
